<template id="x-home">
    <div class="container">
        <h1>Home</h1>
        <p>Welcome to the home page!</p>
        <x-counter></x-counter>
    </div>
</template>

<script>
    customElements.define('page-home', class extends HTMLElement {
        constructor() {
            super();
            const template = document.getElementById('x-home');
            const templateContent = template.content;
            this.attachShadow({ mode: 'open' }).appendChild(templateContent.cloneNode(true));
        }
    });

    customElements.define('page-home-new', class extends HTMLElement {
        constructor() {
            super();
            const template = document.getElementById('x-home');
            const templateContent = template.content;
            this.attachShadow({ mode: 'open' }).appendChild(templateContent.cloneNode(true));
            // make this different
            this.shadowRoot.querySelector('h1').textContent = 'Home New';
        }
    });
</script>